/* body{
    height: 4000px;
} */
/* Header */
.header{
    position: fixed;
    width: 100%;
    top: 40px;
    z-index: 999;
}
.header .inner-main {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    border-radius: 45px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.header .inner-menu ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.header .inner-menu ul li {
    margin-left: 40px;
}

.header .inner-menu ul li a{
    font-size: 13px;
    color: var(--color-text-two);
    font-weight: 500;
}
.header .inner-menu ul li a:hover{
    color: var(--color-one);
}
.header .inner-menu ul li a.active{
    color: var(--color-one);
}
/* End Header */

/* Section-one */
.section-one{
    background-image: url(../img/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-one .inner-content {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 120px;
}

.section-one .inner-content .inner-title{
    color: var(--bg-one);
    font-size: 32px;
    margin-bottom: 30px;
}

.section-one .inner-content .inner-desc {
    color: var(--bg-one);
    margin-bottom: 30px;
}
/* End Section-one */

/* button */
.button{
    padding: 10px 25px;
    color: var(--bg-one);
    text-transform: uppercase;
    background-color: var(--color-one);
    border-radius: 45px;
    font-size: 14px;
}
.button:hover{
    color: var(--bg-one);
    background-color: var(--color-two);
    transition: all 0.3s ease 0s;
}
/* End button */

/* Section-two */
.section-two{
    margin-bottom: -130px;
}
.section-two .inner-box{
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 20px;
    position: relative;
    top: -260px;
}

.section-two .inner-box .inner-icon{
    background-color: var(--color-two);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 24px;
}
.section-two .inner-box .inner-icon i{
    color: var(--bg-one);
}

.section-two .inner-box .inner-title{
    font-size: 20px;
    margin-bottom: 16px;
    color: var(--color-text-two);
}
.section-two .inner-box .inner-desc{
    margin: 0;
    font-size: 14px;
    color: var(--color-text);
}
/* End Section-two */

/* Section-three */
.section-three {
    padding-bottom: 100px;
    /* border-bottom: 1px solid #ddd; */
}
.section-three .inner-image{
    display: flex;
    justify-content: center;
}
.section-three .inner-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.section-three .inner-content .inner-title{
    font-size: 26px;
    margin-bottom: 30px;
    color: var(--color-tex-two);
}
.section-three .inner-content .inner-desc{
    width: 90%;
    color: var;
    color: var(--color-text);
    margin: 0;
}

/* End Section-three */

/* Secion-four */
.section-four{
    padding: 100px 0;
}
.section-four .inner-image{
    display: flex;
    justify-content: center;
}
.section-four .inner-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.section-four .inner-content .inner-title{
    font-size: 26px;
    margin-bottom: 30px;
    color: var(--color-tex-two);
}
.section-four .inner-content .inner-desc{
    width: 90%;
    color: var;
    color: var(--color-text);
    margin: 0;
}
/* End Section-four */

/* Section-five */
.section-five{
    padding: 130px 0;
    background-image: url(../img/background-2.png);
}
.section-five .inner-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-five .inner-content .inner-title{
    margin-bottom: 30px;
    color: var(--bg-two);
}
.section-five .inner-content .inner-desc{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
    color: var(--bg-two);
}

.section-five .inner-box {
    background-color: var(--bg-two);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
.section-five .inner-box:hover{
    margin-top: -10px;
    transition: all 0.3s ease 0s;
}
.section-five .inner-box .inner-icon{
    margin-bottom: 16px;
}
.section-five .inner-box .inner-title {
    color: var(--color-text-two);
    font-size: 17px;
    text-transform: capitalize;
}
.section-five .inner-box .inner-desc {
    color: var(--color-text);
    margin: 0;
    text-align: center;
    font-size: 16px;
}
/* End Section-five */

/* Section-six */
.section-six{
    padding: 120px 0;
}
.section-six .inner-content .inner-title{
    color: var(--color-text-two);
}
.section-six .inner-content .inner-desc{
    color: var(--color-text);
}

.section-six .inner-box{
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.section-six .inner-box .inner-icon{
    margin-bottom: 25px;
}
.section-six .inner-box .inner-desc{
    color: var(--color-text);
    margin-bottom: 40px;
}
.section-six .inner-box:hover .inner-infor{
    margin-left: 20px;
    transition: all 0.3s ease 0s;
}
.section-six .inner-box .inner-infor .name{
    color: var(--color-text);
    font-size: 18px;
}
.section-six .inner-box .inner-infor .position{
    color: var(--color-one);
    margin: 0;
}
/* End Section-six */

/* Section-seven */
.section-seven{
    background-color: var(--bg-one);
    padding: 120px 0;
}
.section-seven .inner-content{
    margin-bottom: 70px;
}

.section-seven .inner-content .inner-title{
    color: #000;
}
.section-seven .inner-content .inner-desc{
    color: var(--color-text);
}

.section-seven .inner-box{
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.10);
    background-color: var(--bg-two);
    padding: 40px 30px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-seven .inner-box .inner-sub-title{
    font-weight: 500;
    margin-bottom: 10px;
}

.section-seven .inner-box .inner-price{
    background-color: var(--color-two);
    width: 100%;
    border-radius: 20px;
    padding-top: 20px;
    color: var(--bg-two);
    margin-bottom: 30px;
}
.section-seven .col-xl-4:nth-child(2) .inner-price{
    background-color: var(--color-one);
}

.section-seven .inner-box .inner-price .price{
    font-size: 28px
}
.section-seven .inner-box .inner-price .month{
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;
}

.section-seven .inner-box ul {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.section-seven .inner-box ul li {
    font-size: 14px;
    color: var(--color-text);
    margin-bottom: 10px;
}

.section-seven .inner-box .button{
    background-color: var(--color-two);
    font-size: 13px;
}
.section-seven .inner-box .button:hover{
    background-color: var(--color-one);
}
/* End Section-seven */

/* Section-eight */
.section-eight{
    background-image: url(../img/background-3.png);
}

.section-eight .inner-box{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    padding: 125px 0;
    width: 100%;
    /* background-color: #000; */
    color: var(--bg-two);
}

.section-eight .inner-box:hover{
    margin-top: -20px;
    transition: all 0.4s ease 0s;
}

.section-eight .inner-box .number{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 20px;
}

.section-eight .inner-box .inner-desc{
    margin: 0;
}
/* End Section-eight */

/* Section-nine */
.section-nine{
    padding: 100px 0;
}

.section-nine .nav-one .inner-title{
    font-size: 32px;
    font-weight: 500;
}

.section-nine .nav-one .inner-desc{
    color: var(--color-text);
    font-size: 16px;
}

.section-nine .inner-box img {
    width: 100%;
    margin-bottom: 20px;
}

.section-nine .inner-box .inner-title{
    font-size: 18px;
}
.section-nine .inner-box .inner-desc{
    font-size: 14px;
    width: 100%;
    color: var(--color-text);
    margin-bottom: 30px;
}

.section-nine .inner-box .button{
    background-color: var(--color-two);
    padding: 15px 20px;
}

.section-nine .inner-box .button:hover{
    background-color: var(--color-one);
}

/* End Section-nine */

/* Section-ten */
.section-ten{
    background-color: var(--bg-one);
    padding: 150px 0;
}

.section-ten .inner-content .inner-desc{
    color: var(--color-text);
}

.section-ten .inner-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-ten .inner-text .inner-title{
    color: var(--color-tex-two);
    font-weight: 500;
    font-size: 19px;
}
.section-ten .inner-text .inner-sub{
    padding: 0;
    color: var(--color-text);
    margin-top: 40px;
}

/* .section-ten .form-submit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
} */

.section-ten .contact-form input{
    border-radius: 45px;
    padding: 20px 10px;
    margin-bottom: 32px;
}

.section-ten .contact-form textarea {
    border-radius: 40px;
    margin-bottom: 30px;
    background-image: none;
    padding-top: 20px;
    padding-left: 20px;
}

.section-ten .contact-form .button{
    background-color: var(--color-two);
    padding: 12px 15px;
}
.section-ten .contact-form .button:hover{
    background-color: var(--color-one);
}

/* End Section-ten */

/* Footer */
.footer{
    padding: 40px 0;
    background-image: linear-gradient(127deg, #a759d1 0%, #8261ee 91%);
}
.footer .inner-social{
    padding-bottom: 40px;
    border-bottom: 1px solid #aea8a8;
}
.footer .inner-social ul{
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-between;
    margin-top: 0;
}
.footer .inner-social ul li a{
    color: var(--color-text);
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer .copy-right{
    margin: 0;
    text-align: center;
    padding-top: 35px;
    color: var(--bg-two);
    text-transform: uppercase;
    font-size: 13px;
}
/* End Footer */

